<mat-stepper #stepper>
    <mat-step>
        <ng-template matStepLabel>App UI refresh</ng-template>
        <markdown mermaid src="../../../assets/markdown/change-detection/change-detection1.md"> </markdown>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>CD strategies</ng-template>
        <markdown mermaid src="../../../assets/markdown/change-detection/change-detection2.md"> </markdown>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Disable CD</ng-template>
        <markdown mermaid src="../../../assets/markdown/change-detection/change-detection3.md"> </markdown>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>UI refresh</ng-template>
        <markdown mermaid src="../../../assets/markdown/change-detection/change-detection4.md"> </markdown>
    </mat-step>
</mat-stepper>