<p>Parent</p>
<p>My friend said: {{ friend | json }} &nbsp;
    <button mat-mini-fab (click)="toggleFriendMessage()" matTooltip="Toggle friend.msg between Hello and World">
    <mat-icon>refresh</mat-icon>
    </button> &nbsp; &nbsp;

    <button mat-mini-fab (click)="markForCheck()" matTooltip="markForCheck">
    <mat-icon>autorenew</mat-icon>
    </button> &nbsp; &nbsp;

    <button mat-mini-fab (click)="resetReference()" matTooltip="Reset friend to a new object">
    <mat-icon>redo</mat-icon>
    </button> &nbsp; &nbsp; 
    
    <button mat-mini-fab (click)="increment()" matTooltip="Increment an input value">
    <mat-icon>add</mat-icon>
    </button>
</p>

<mat-accordion>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Child 1: default change detection with tree shaking (all components run CD)
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-child1 [friend]="friend"></app-child1>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Child 2: on-push change detection
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-child2 [friend]="friend"></app-child2>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title>
                Child 3: on-push change detection
            </mat-panel-title>
        </mat-expansion-panel-header>

        <app-child3 [friend]="friend" [v]="value"></app-child3>
    </mat-expansion-panel>

</mat-accordion>