<button mat-mini-fab (click)="forceCD()" matTooltip="detect changes after 20s"><mat-icon>check</mat-icon></button>
<p>{{ countdown$ | async }}</p>
<p>My friend said: <span class="warn">{{ friend?.msg }}</span></p>

<p>Change detection strategy is component-specific. Under 'on-push' change detection strategy:</p>

<ul>
    <li>When 'refresh' button on the parent component is clicked, in componet 2, input 'friend' didn't change (same reference), so the UI didn't update for child2;</li>
    <li>Mousing over a button in child2 component <span class="warn">with tooltip</span> triggers change detection;</li>
    <li>Observable emitting new value triggers change detection;</li>
    <li>cdr.detectChanges() triggers change detection.</li>
</ul>

<div>Change detection triggers:</div>
<ul>
    <li>Mouse over the button triggers change detection;</li>
    <li>Value emission from an observable (interval) triggers change detection;</li>
    <li>Button click triggers change detection after 20 seconds.</li>
</ul>

