<mat-toolbar color="primary">

  <div>
    <mat-icon [matMenuTriggerFor]="appMenu" 
      matTooltip="menu"
    >menu</mat-icon>
  </div>

  <div>Angular 19 and Node.js 22 Template</div>

  <div>
    <mat-icon [routerLink]="['/documentation']" 
      matTooltip="Developer resources"
    >description</mat-icon> &nbsp;
    <mat-icon [routerLink]="['/help']" 
      matTooltip="Help"
    >help</mat-icon> &nbsp;
  </div>

</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon ></button>
</mat-menu>
