<mat-toolbar color="primary">

  <div>
    <mat-icon [matMenuTriggerFor]="appMenu" 
      matTooltip="menu"
    >menu</mat-icon>
  </div>

  <div>Angular Feature Demo</div>

  <div>
    <mat-icon [routerLink]="['/documentation']" 
      matTooltip="Developer resources"
    >description</mat-icon> &nbsp;
    <mat-icon [routerLink]="['/help']" 
      matTooltip="Help"
    >help</mat-icon> &nbsp;
  </div>

</mat-toolbar>

<mat-menu #appMenu="matMenu">
  <button mat-menu-item [routerLink]="['/']"><mat-icon>home</mat-icon > Home</button>
  <button mat-menu-item [routerLink]="['/timepicker']"><mat-icon>schedule</mat-icon> Timepicker</button>
  <button mat-menu-item [matMenuTriggerFor]="changeDetectionMenu"><mat-icon>change_circle</mat-icon> Change detection</button>
</mat-menu>


<mat-menu #changeDetectionMenu="matMenu">
  <button mat-menu-item [routerLink]="['/change-detection']"><mat-icon>dashboard</mat-icon> Overview</button>
</mat-menu>
